# Pin assignment for Leds 
# Connected to Nexys 2 
 NET "aeqb" LOC= "J14"; # Bank = 1 , Pin name = IO_L14N_1/A3/RHCLK7 , Type = RHCLK/DUAL , Sch name = JD10/LD0

# Pin assignment for Switches 
# Connected to Nexys 2 
 NET "a<0>" LOC= "G18"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW0 
 NET "a<1>" LOC= "H18"; # Bank = 1 , Pin name = IP/VREF_1 , Type = VREF , Sch name = SW1 
 NET "b<0>" LOC= "K18"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW2 
 NET "b<1>" LOC= "K17"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW3

